%nav.row.row--sitemap#js-footer-nav(role="navigation" aria-label="Sitemap" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement")
  %h6.accessibility Sitemap
  .row__inner.row--sitemap__inner

    .col--footer--last
      %a.title--footer.title--list--footer(href='https://www.lonelyplanet.com/newsletter' itemprop="url")
        %span(itemprop="name")
          Subscribe
      %p.nav__item--footer
        Get 20% off at our online shop.
      %a.btn.btn--blue.btn--large.newsletter-footer__btn{href: "https://www.lonelyplanet.com/newsletter"}
        Subscribe

    .col--footer
      %input{type: "checkbox", id: 'ac-destinations', class: "accordion__input"}
      .nav--stacked.accordion__target.accordion__target--mid
        %label{for: 'ac-destinations', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
        %a.js-nav-item.title--footer.title--list--footer(href='https://www.lonelyplanet.com/places' itemprop="url")
          %span(itemprop="name")
            Destinations
        - footer_nav_destination_items.each do |destination|
          %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "https://www.lonelyplanet.com/#{destination[:url]}"}(itemprop="url")<
            %span(itemprop="name")
              = destination[:title]

    .col--footer
      %input{type: "checkbox", id: 'ac-shop', class: "accordion__input"}
      .nav--stacked.accordion__target.accordion__target--mid
        %label{for: 'ac-shop', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
        %a.js-nav-item.title--footer.title--list--footer(href='https://shop.lonelyplanet.com' itemprop="url")
          %span(itemprop="name")
            Shop
        - footer_nav_shop_items.each do |shop|
          %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "https://shop.lonelyplanet.com/#{shop[:url]}"}(itemprop="url")<
            %span(itemprop="name")
              = shop[:title]

    .col--footer
      %input{type: "checkbox", id: 'ac-thorntree', class: "accordion__input"}
      .nav--stacked.accordion__target.accordion__target--mid
        %label{for: 'ac-thorntree', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
        %a.js-nav-item.title--footer.title--list--footer(href='https://www.lonelyplanet.com/thorntree' itemprop="url")
          %span(itemprop="name")
            Community
        - footer_nav_thorntree_items.each do |thorntree|
          %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "https://www.lonelyplanet.com/thorntree/#{thorntree[:url]}"}(itemprop="url")<
            %span(itemprop="name")
              = thorntree[:title]

    .col--footer
      %input{type: "checkbox", id: 'ac-interests', class: "accordion__input"}
      .nav--stacked.accordion__target.accordion__target--mid
        %label{for: 'ac-interests', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
        %a.js-nav-item.title--footer.title--list--footer(href='https://www.lonelyplanet.com' itemprop="url")
          %span(itemprop="name")
            Interests
        - footer_nav_interests_items.each do |theme|
          %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "https://www.lonelyplanet.com/#{theme[:url]}"}(itemprop="url")<
            %span(itemprop="name")
              = theme[:title]

    .col--footer
      %input{type: "checkbox", id: 'ac-bookings', class: "accordion__input"}
      .nav--stacked.accordion__target.accordion__target--mid
        %label{for: 'ac-bookings', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
        %a.js-nav-item.title--footer.title--list--footer(href='https://www.lonelyplanet.com/bookings' itemprop="url")
          %span(itemprop="name")
            Travel Booking
        - footer_nav_travel_bookings_items.each do |booking|
          %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "https://www.lonelyplanet.com/#{booking[:url]}"}(itemprop="url")<
            %span(itemprop="name")
              = booking[:title]
